{% extends 'base.html' %}

{% block title %} {{ image.title }} {% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
<!--    <img src="{{ image.image.url }}" class="image-detail" alt="">-->
    {% load thumbnail %}
    <a href="{{ image.image.url }}">    <!-- Links to the full-size saved image -->
        <img src="{% thumbnail image.image 300x0 %}" class="image-detail">  <!-- Creates and displays a thumbnail -->
    </a>
<!--image.url refers to the URL field in your model, which stores the original location where you found the image online
image.image refers to the ImageField in your model, which stores the actual image file you downloaded and saved
image.image.url gives you the URL path to access the saved image file in your media storage-->

    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                     like{{ total_likes|pluralize }}
                </span>
                <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
                   class="like button">
                    {% if request.user not in users_like %}
                    Like
                    {% else %}
                    Unlike
                    {% endif %}
                </a>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    {% if user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}">
                    {% endif %}
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block domready %}
    const url = '{% url "images:like" %}';
    const options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }
    document.querySelector('a.like').addEventListener('click', function(e) {
        e.preventDefault();
        let likeButton = this;  // 'this' is the <a> element with class 'like' that was clicked

        // add request body
        let formData = new FormData();
        formData.append('id', likeButton.dataset.id);
    <!-- This line takes the value from the clicked like button’s data-id attribute (accessible via likeButton.dataset.id) and assigns it to the key 'id'.&ndash;&gt;-->
        formData.append('action', likeButton.dataset.action);
    <!-- Similarly, it appends the value from the data-action attribute (which tells you whether the action is to "like" or "unlike") under the key 'action'.&ndash;&gt;-->
        options['body'] = formData;
        console.log(`likeButton.dataset.id before: ${likeButton.dataset.id}`)
        console.log(`likeButton.dataset.action before: ${likeButton.dataset.action}`)

        // send HTTP request
        fetch(url, options)
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);  // Throw an error to be caught by .catch()
            }
            return response.json();
        })
        .then(data => {
            if (data['status'] === 'ok'){
                let previousAction = likeButton.dataset.action;

                // toggle button text and data-action
                let newAction = previousAction === 'like' ? 'unlike' : 'like';
                likeButton.dataset.action = newAction;
                likeButton.innerHTML = newAction;

                //update like count
                let likeCount = document.querySelector('span.count .total');
                // Add this line to check if likeCount is correctly selected
                console.log(`Current Like count: ${likeCount}`);

                let totalLikes = parseInt(likeCount.innerHTML);
                console.log(`totalLikes: ${totalLikes}`)
                likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1
                console.log(`likeButton.dataset.id after: ${likeButton.dataset.id}`)
                console.log(`likeButton.dataset.action after: ${likeButton.dataset.action} \n`)

<!--                // Update the 'like/likes' word dynamically-->
<!--                let likeWordSpan = document.querySelector('span.count');-->
<!--                let likeWord = totalLikes === 1 ? 'like' : 'likes';-->
<!--                // Update the parent span's innerHTML-->
<!--                likeWordSpan.innerHTML = `<span class = "total">${totalLikes}</span> ${likeWord}`;-->
            } else {
                console.error("Server-side error:", data);
            }
        })
        .catch(error => {
            console.error("Fetch method error: ", error);
            // Optionally display a user-friendly error message on the page
            alert("An error occurred while processing your request. Please try again later");
        });
    });
{% endblock %}