{% extends 'base.html' %}

{% block title %} {{ image.title }} {% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
<!--    <img src="{{ image.image.url }}" class="image-detail" alt="">-->
    {% load thumbnail %}
    <a href="{{ image.image.url }}">    <!-- Links to the full-size saved image -->
        <img src="{% thumbnail image.image 300x0 %}" class="image-detail">  <!-- Creates and displays a thumbnail -->
    </a>
<!--image.url refers to the URL field in your model, which stores the original location where you found the image online
image.image refers to the ImageField in your model, which stores the actual image file you downloaded and saved
image.image.url gives you the URL path to access the saved image file in your media storage-->

    {% with total_likes=image.users_like.count %}
        <div class="image-info">
            <div>
                <span class="count">
                    {{ total_likes }} like{{ total_likes|pluralize }}
                </span>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    {% if user.profile.photo %}
                        <img src="{{ user.profile.photo.url }}">
                    {% endif %}
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}