{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
<!--    {% if messages %}-->
<!--    <div class="messages">-->
<!--        {% for message in messages %}-->
<!--        <div class="{{ message.tags }}">-->
<!--            {{ message }}-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% endif %}-->

<!--Change for bookmarklet -->
    {%  with total_images_created=request.user.images_created.count %}
    <p>
        Welcome to your dashboard. You have bookmarked {{ total_images_created }}
        image{{ total_image_created|pluralize }}.
    </p>
    {% endwith %}

    <!-- Load JS content into a variable first -->
    {% with launcher_url='//127.0.0.1:8000/static/js/bookmarklet_launcher.js' %}
        <p>Drag the following button to your bookmarks toolbar to bookmark images
            from other websites → <a href="javascript:(function(){let s = document.createElement('script');s.src='{{ launcher_url }}';document.body.appendChild(s);})();" class="button">Bookmark it </a>
        </p>
    {% endwith %}
<!-- &rarr also refers to the '→' symbol -->
    <p>
        You can also <a href="{% url 'edit' %}">edit your profile</a> or
        <a href="{% url 'password_change' %}">change your password</a>.
    </p>


{% endblock %}